.NavigationHolder
{
	Position: relative;
	top: 0;
	left: 0;
	margin:0; 
}
.NavigationButton1
{
	position: absolute;
	top: 0px;
	left: 350px;
	margin:0; 
}
.NavigationButton2
{
	position: absolute;
	top: 75px;
	left: 325px;
}
.NavigationButton3
{
	position: absolute;
	top: 146px;
	left: 295px;
}
.NavigationButton4
{
	position: absolute;
	top: 220px;
	left: 230px;
	margin:0; 
}
.NavigationButton5
{
	position: absolute;
	top: 290px;
	left: 150px;
	margin:0; 
}
.NavigationButton6
{
	position: absolute;
	top: 365px;
	left: 00px;
	margin:0; 
}
.Logo
{
	position: absolute;
	top: 0;
	left: 0;
	margin:0; 
}
div.Navigation
{
	margin:0px;
	border:none;
	padding:0px;
	width: 0px;
	height:0px;
	margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;
}